body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none !important;
  text-align: center !important;
}
.botao{
  color: #1c5702;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: solid 1px black;
  font-family: "roboto", sans-serif;
}
.botao:hover{
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #7ed957;
  border: solid 1px black;
  transition: 0.5s;
}
#divisao-img{
  margin-bottom: 5rem ;
}
/** Navegação **/
header{
  background: #d8f0ce ;
}
#logo a{
  font-family: "roboto", sans-serif;
  color: #1c5702;
  font-size: 1.3rem;
}
#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
}
#home{
  display: flex;
  height: 75vh;
  align-items: center;
  margin: 0 10%;
}
#pessoa{
  width: 50%;
}
#img{
  width: 50%;
}
#img img{
  width: 22rem;
}
#nome{
  font-size: 2.3rem;
  font-family: "roboto",700 sans-serif;
}
#profissao{
  font-size: 1.1rem;
  color: #a6a6a6;
  margin-top: -0.7rem;
  margin-bottom: 1rem;
}
#titulo{
  width: 80%;
  margin-bottom: 2rem;
  font-family: "roboto", sans-serif;
}
/*Beneficios*/
#beneficios{
  display: flex;
  justify-content: space-around;
}
#titulo-beneficio{
  font-family: "roboto", sans-serif;
  color: #1c5702;
  margin-left: 5%;
  margin-bottom: 2rem;
}
#beneficio .card .card-img-top{
  width: 100%;
 height: fit-content;
 display: inline-block;
}
#beneficio{
  margin-bottom: 5rem;
}

/* sobre */
#quemsou .card-title .card-text{
  font-family: "roboto",  sans-serif;
}

.subtitle{
  font-family: 'roboto', sans-serif;
  font-size: 2rem;
  color: #1c5702;
}
.text{
  font-family: 'Noto Sans Display', sans-serif;
}
/* header */
#header{
  background: linear-gradient(green, white);
  width: 100vw;
  height: 30vh;
}

img{
  width: 14rem;
  border: 1px solid white;
}
/*  Divisão  */
#divisao{
  width: 100%;
}
#img-divisao{
  width: 100%;
}

/*********** about ***********/

.ilustra{
  display: flex;
  justify-content: center;
}
.images{
  width: 30rem;
}

#quemsou .card{
  width: fit-content;
}

/***** Serviços ******/
#servicos{
  background: #d8f0ce;
}
#listaServ{
  display: flex;
  justify-content: center;
}
.lista li{
 list-style-type:circle;
 margin-bottom: 3px;
 font-family: "roboto", sans-serif;
}
#serv{
  text-align: center;
  margin-top: 3rem;
  padding-top: 4rem;
}
#conteudoServ{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/******* Contato ******/
#contact h2{
  text-align: center;
}
.iContato{
  width: 3rem;
}
.iconeContato{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.iconeContato img{
  margin-right: 1rem;
}
#contatos{
  display: flex;
  justify-content: center;
}
.textContato{
  color: rgb(3, 3, 3);
  font-family: "roboto flex", sans-serif;
  font-size: 1.2rem;
}/******* footer ******/

#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  background-color: rgb(28, 31, 31);
}
#copy {
  color: white;
  font-family: "roboto flex", sans-serif;
  font-size: 0.8rem;
}
#copy a {
  color: white;
  font-family: "roboto flex", sans-serif;
  font-size: 0.8rem;
  border-bottom: solid 1px white;
}


/***** media queries ******/
@media (max-width: 850px){
#nav a{
 font-size: 0.7rem;
}
#home{
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#nome{
  font-size: 1.2rem;
}
#titulo{
  font-size: 1.5rem;
}
#profissao{
  font-size: 0.7rem;
}
#pessoa{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#img{
  margin-top: 1rem;
  width: 75%;
}
#pessoa a{
  font-size: 0.8rem;
  text-align: center;
}
#titulo-beneficio{
  font-size: 1.5rem;
}
#beneficios{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#beneficios .card{
  margin-bottom: 0.5rem;
}

#quemsou .card{
  width: fit-content;
}
#quemsou .card img{
  width: auto;
}

.ilustra img{
  width: 25rem;
}
#conteudoServ{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#listaServ{
  width: 50%;
}
#contato{
  display: flex;
  align-items: center;
  justify-content: center;
}
#contatos{
  width: 50%;
}
}
@media (max-width: 410px){
  #nav a{
    font-size: 0.45rem;
   }
}